<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aleryo - $title$</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div id="content">
        $body$
      </div>

      <div class="footer">
        <p>
          <a href="/">Acceuil</a>
          ::
          <a href="/about.html">À propos</a>
          ::
          <a href="/contact.html">Contact</a>
          ::
          <a href="/archive.html">Archive</a>
        </p>
      </div>
    </div>
  </body>
</html>
